/* ğ‘†ğ‘¡ğ‘¦ğ‘™ğ‘–ğ‘›ğ‘” ğ‘“ğ‘œğ‘Ÿ ğ‘¡â„ğ‘’ ğ‘¡ğ‘ğ‘”ğ‘    */

:root {
    /* ğ‘ƒğ‘Ÿğ‘–ğ‘šğ‘ğ‘Ÿğ‘¦ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘  */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);

    /* ğ¹ğ‘œğ‘›ğ‘¡ ğ‘ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */

    --sec-color: hsl(215, 51%, 70%);

    /* ğ¹ğ‘œğ‘›ğ‘¡ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --primary-font-color: hsl(215, 51%, 70%);
    --m-font-fam: 'Outfit', sans-serif;

}

body {
    background-color: var(--main-bg-color);
}

img.main-img {
    width: 100%;
    border-radius: 8px;
    margin: auto;
    display: block;
}

img.avatar {
    width: 2rem;
}

h4, span {
    color: hsl(0, 0%, 100%);
}

h6, .time-selector, .card-footer {
    color: var(--sec-color);
    font-weight: 300;
}

hr {
    color: hsl(215, 32%, 27%);
    border-style: none none solid none;
}

footer {
    padding: 16px;
    text-align: center;
}

/****** ğ¶ğ‘†ğ‘† ğ‘“ğ‘œğ‘Ÿ ğ‘ğ‘™ğ‘ğ‘ ğ‘’ğ‘   ****/

.time {
    text-align: right;
}

.card {
    background-color: var(--card-bg-color);
    font-family: var(--m-font-fam);
    border-radius: 10px;
    width: 15rem;
    height: fit-content;
    margin: 5rem auto;
    padding: 1.5rem;
}

p, .price-selector, .time-selector {
    display: inline;
}

.price-time-selector {
    position: relative;
    width: inherit;

}

.price-selector {
    color: hsl(178, 100%, 50%);
}

.time-selector {
    position: absolute;
    right: 2px;
}

.card-footer {
    margin-top: 1.3rem;
}

.attribution {
    text-align: center;
    font-family: var(--m-font-fam);
    font-size: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}