/* 𝑆𝑡𝑦𝑙𝑖𝑛𝑔 𝑓𝑜𝑟 𝑡ℎ𝑒 𝑡𝑎𝑔𝑠   */

:root {
    /* 𝑃𝑟𝑖𝑚𝑎𝑟𝑦 𝐶𝑜𝑙𝑜𝑟𝑠 */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);

    /* 𝐹𝑜𝑛𝑡 𝑐𝑜𝑙𝑜𝑟𝑠  */
    --sec-color: hsl(215, 51%, 70%);

    /* 𝐹𝑜𝑛𝑡 𝐶𝑜𝑙𝑜𝑟𝑠  */
    --primary-font-color: hsl(215, 51%, 70%);
    --m-font-fam: 'Outfit', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

img.main-img {
    width: 100%;
    border-radius: 8px;
    margin: auto;
    display: block;
}

img.avatar {
    width: 1.7rem;
    border: 2px solid white;
    border-radius: 100%;
    vertical-align: -.54rem;
    margin-right: .52rem;
}

svg {
    margin: .22rem .18rem 0 0;
    vertical-align: -.18rem;
}

h3, span {
    color: hsl(0, 0%, 100%);
}

h6, .time-selector, .card-footer {
    color: var(--sec-color);
    font-weight: 300;
}

h6 {
    font-size: small;
    margin: .3rem auto;
    font-size: 1rem;
}

hr {
    color: hsl(215, 32%, 27%);
    border-style: none none solid none;
    padding: 8px 0;
}

footer {
    padding: 16px;
    text-align: center;
}

a {
    color: var(--sec-color);
    text-decoration: none;
}

a:hover {
    color: hsl(234, 36%, 36%);
    transition: .6s;
}

/****** 𝐶𝑆𝑆 𝑓𝑜𝑟 𝑐𝑙𝑎𝑠𝑒𝑠  ****/

.time {
    text-align: right;
}

/* 𝑀𝑎𝑖𝑛 𝑐𝑎𝑟𝑑 𝑏𝑜𝑑𝑦 𝑐𝑠𝑠 𝑐𝑜𝑑𝑒  */
.card {
    background-color: var(--card-bg-color);
    font-family: var(--m-font-fam);
    border-radius: 10px;
    width: 16rem;
    height: fit-content;
    margin: 5rem auto;
    padding: 1.5rem;
    box-shadow: .5rem 1.3rem 2rem 1.3rem hsl(217, 55%, 10%), -.5rem 1.3rem 2rem 1.3rem hsla(217, 55%, 10%), 1rem 2.6rem 4rem hsla(217, 55%, 10%, .3), 1rem 2.6rem 4rem hsla(217, 55%, 10%, .3);
}

/* 𝑀𝑎𝑖𝑛 𝑐𝑎𝑟𝑑 𝐵𝑜𝑑𝑦 𝐶𝑆𝑆 𝑤ℎ𝑒𝑛 𝑣𝑖𝑒𝑤 𝑝𝑜𝑟𝑡 ℎ𝑎𝑠 𝑚𝑎𝑥-𝑤𝑖𝑑𝑡ℎ 𝑎𝑑𝑗𝑢𝑠𝑡 𝑐𝑎𝑟𝑑 𝑤𝑖𝑑𝑡ℎ  */
@media screen and (max-width: 376px) {
    .card {
        width: 75vw;
        margin: 3rem auto;
    }
}

p, .price-selector, .time-selector {
    display: inline;
}

.price-time-selector {
    position: relative;
    width: inherit;
    margin: .9rem 0 0 0;
    font-size: smaller;
}

.price-selector {
    color: hsl(178, 100%, 50%);
}

.time-selector {
    position: absolute;
    right: 2px;
}

.card-footer {
    margin-top: .8rem;
    font-size: smaller;
}

.attribution {
    text-align: center;
    font-family: var(--m-font-fam);
    color: var(--sec-color);
    font-size: .8rem;
}