/* ğ‘†ğ‘¡ğ‘¦ğ‘™ğ‘–ğ‘›ğ‘” ğ‘“ğ‘œğ‘Ÿ ğ‘¡â„ğ‘’ ğ‘¡ğ‘ğ‘”ğ‘    */

:root {
    /* ğ‘ƒğ‘Ÿğ‘–ğ‘šğ‘ğ‘Ÿğ‘¦ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘  */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);

    /* ğ¹ğ‘œğ‘›ğ‘¡ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --primary-font-color: hsl(215, 51%, 70%);
    --m-font-fam: font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    text-align: center;
}


.card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    width: fit-content;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}